*{margin: 0;padding: 0;box-sizing: border-box;}
ul{list-style: none;margin: 0;padding: 0;}
body{font-family: 'Lato', sans-serif;}
.twitter{direction: flex;}
.sidebar{ width: 25%;position: fixed;left: 0;height: 100%;border-right:1px solid #e6ecf0; }
.sidebar ul li a{ display: flex;text-decoration: none;color:#000;padding: 18px 35px;align-items: center; font-weight: 700;font-size: 15px;}
.sidebar ul li a:hover{background: #e8f5fe;color:#1da1f2 ;}
.icons{margin-right: 15px;font-size: 25px;}
.logo{color: #1da1f2;}
.sidebar__Btn{margin: 15px 0;}
.sidebar__Btn a{text-decoration: none;background: #1da1f2;color: #fff;padding: 13px 35px;margin: 0 35px;border-radius: 50px;outline: none;display: block;text-align: center;}

/*------------- posts ------------*/
.posts{width: 50%;margin-left: 25%;border-right: 1px solid #e6ecf0;}
.posts_home{width: 50%;position: fixed;top: 0;padding: 15px;font-weight: 700;border-bottom: 1px solid #e6ecf0;background: #fff;z-index: 99;border-right: 1px solid #e6ecf0;}
.create{padding-top: 60px;border-bottom: 1px solid #e6ecf0;padding-bottom: 20px;margin-bottom: 10px;}
.create__first{display: flex;padding:0 20px;align-items: center;}
.create_img{width: 60px;height: 60px;overflow: hidden;border-radius: 50%;}
.create_img img{height: 100%;}
.create__input{margin-left: 20px;width: 100%;height: auto;}
.create__control{border:none;outline: none;width: 100%;height: 100%;}
.create__second{margin-left:20px;margin-top: 15px;display: flex;}
.create__icon{width: 50%;display: flex;align-items: center;}
.ic{margin: 0 6px;font-size: 20px;cursor: pointer;color: #1da1f2;}
.create_btn{width: 50%;text-align: right;margin-right: 20px;}
.create_btn button{padding: 10px 20px;background: #1da1f2;color: #fff;border-radius: 50px;outline: none;border: 0;cursor: pointer;}
.postss{padding: 15px;position: relative; border: 1px solid #e6ecf0;margin: 5px 5px 10px 5px;border-radius: 5px;}
.postss__first{display: flex;font-size: 14px;}
.postss .create__first{padding: 0;display: block;position: relative;width: 100%;}
.postss .create__first .create_img{float: left;margin-right: 20px;}
.postss p{font-size: 14px;margin-bottom:5px;word-break: break-all;}
.postss p span{font-size: 12px;color:#ccc;display: inline-block;}
.postss .postss_first{display: flow-root;}
.dislike, .like,.trashIcon{margin-right: 10px;font-size: 13px;color: #ccc;cursor: pointer;}
.poststext{margin: 15px 0;padding: 0 5px;font-size: 13px;}
.likeicon{justify-content: space-around;display: flex;}
.active, .activelike, .activelikes{fill:#1da1f2;}
.trashIcon:hover{color: #1da1f2}
.poststext img{width: 100%;margin: 15px 0 0 0;border-radius: 2px;}
.trends{width: 25%;}
.trends_search{position: fixed;width: 25%;top: 10px;right: 0;padding-bottom: 20px;}
.trend__control{border: none;width: 98%;margin-left: 5px;outline: none;background: #f5f4f2;border-radius: 50px;padding: 15px 40px;}
.trend__icon{position: absolute;top: 12px;left:20px;color: silver;}
.search{font-size: 20px;}
.keywords{position: fixed;top:80px;right:0px;width: 25%; padding:20px;}
.key{background: #f5f8fa;padding: 15px;border-radius: 5px;}
.keywords_heading{font-size: 20px;border-bottom: 1px solid #e6ecf0;padding-bottom: 8px;}
.country{font-size: 14px;color: silver;font-weight: 300;margin: 10px 0;}
.keywords__name{margin-bottom: 8px;}
.keyword__tweets{margin-top: 7px;color: silver;font-size: 14px;font-weight: 300;}
